<% provide(:title, @product.name) %>
<h1>Проект "<%= @product.name %>"</h1>
<div class="row">


  <div class="col-md-2">
    <h5>Целевой сегмент</h5>
    <% if @product.targets.any? %>
        <ol class="microposts">
          <%= render @targets %>
        </ol>
        <%= will_paginate @targets %>
    <% else %>
        <h1>У Вас еще нет ЦС</h1>
    <% end %>

    <%= link_to "Добавить сегмент", new_product_target_path(@product), onclick: cookies[:product_id] = params[:id], class: "btn btn-large btn-primary" %>
  </div>

  <div class="col-md-2">
    <h5>Ценностные предложения</h5>

    <%= link_to "+ ЦП", '#', class: "btn btn-small btn-primary" %>
  </div>

  <div class="col-md-2">
    <h5>Целевые площадки</h5>
    <%= link_to "+ площадки/методы", '#', class: "btn btn-small btn-primary" %>
  </div>

  <div class="col-md-2">
    <h5>Продуктовая линейка</h5>
    <%= link_to "+ продукт линейки", '#', class: "btn btn-small btn-primary" %>
  </div>

  <div class="col-md-2">
    <h5>Профиль продукта</h5>
    <%= link_to "+ профиль продукта", '#', class: "btn btn-small btn-primary" %>
  </div>

  <div class="col-md-2">
    <h5>Упаковка</h5>
    <%= link_to "Создать упаковку", '#', class: "btn btn-small btn-primary" %>
  </div>
</div>
